@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Montserrat:wght@500&display=swap');

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:'Montserrant',sans-serif;
  text-decoration: none;
  list-style: none;
}
/*colores para la pagina*/
:root{
  --color-prinicpal:orange;
  --color-secundario:#90BF49;
  --color-terceario:#4E84A6;
  --color-letras:white;
}
/*header Design*/
header{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  position:sticky;
  position: fixed;

}
main{
    height: 5000px;
}
header nav label{
margin-left: 20px;
cursor: pointer;
}
header nav label .icon:hover{
  color:  var(--color-prinicpal);
}
header nav label .facebook:hover{
  color: var(--color-prinicpal);
}
header nav label i{
  color: white;
  font-size: 20px;
  transition: 500ms ease;
}
header nav label i:hover{
  transform: scale(1.3);
}
header .logo img{
  width: 50px;
  height: 50px;
  transition: .5s;
}
header .logo img:hover{
  transform: scale(1.2);
}
header nav{
  margin-left: 300px;
  display: flex;
  align-items: center;
}
header nav ul{
  display: flex;
  padding-right: 50px;
}
header nav ul li a{
  padding: 0 15px;
  font-size: 1.1em;
  color: var(--color-letras);
}
header nav ul li a:hover{
  color: var(--color-prinicpal);
}
header nav ul li{
  transition: all .5s ease;
}
header nav ul li:hover{
  transform: scale(1.2);
}